{% extends 'index.html' %}


{% block content %}
    <div class="card">
        <img src="/{{ post.photo }}">
        <div class="card-body">
            <div class="mb-1 text-muted">{{ post.date_created|date:"M d, Y" }}</div>
            <br>
            <br>
            <h5 class="card-title">{{ post.title }}</h5>
            <div class="mb-1 text-muted">  <i> by {{ post.author }} </i> </div> <br>
            <p class="card-text mb-auto">{{ post.content|safe }}</p> <br>
            <hr>


        </div>
    </div>
{% endblock %}